</div>
        </div>
      </div>
    </div>
  </div>


  <script src="/public/admin/js/vendor/jquery.js"></script>
  <script src="/public/admin/js/vendor/what-input.js"></script>
  <script src="/public/admin/js/vendor/foundation.min.js"></script>
  <script src="/public/admin/js/app.js"></script>
</body>

</html>