{% include "admin/dashhead.njk" %}
<div class="row">
<ul class="vertical menu accordion-menu" data-accordion-menu>
  <li>
    <a href="#">Home <a href="/ark/editpage/1" class="button tiny">Edit</a></a></li>
  <li><a href="#">Item 2 <a href="https://google.com" class="button tiny">Edit</a></a></li>
</ul>
</div>
{% include "admin/dashfoot.njk" %}