{% include "admin/dashhead.njk" %}
<div class="row">
<p>Welcome to the dashboard. here you can find some helpful links and quick shortcuts to useful tools. This dashboard is a work in progress and can only get better with time.</p>
</div>
{% include "admin/dashfoot.njk" %}