<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ark CMS - Login</title>
    <link rel="stylesheet" href="public/admin/css/foundation.min.css">
    <link rel="stylesheet" href="public/admin/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet"> 
  </head>
  <body>
    <div class="row expanded nopad login">
      <div class="columns small-12 medium-expand nopad">
        <div class="loginleft">
        <h1 class="logo">Ark</h1>
        <h4>An awesome CMS</h4><hr>
        <p>Welcome to Ark. the CMS which makes life simple. combining simple customisability with community elements. Ark is a first and we hope you enjoy using it.</p>
        <div class="callout alert"<p>This install has not been setup yet. see the CLI for more information on creating an initial admin user.</p>
        <p>Ark was designed this way on purpose to prevent people taking over blank installs like you can do with most CMS which give a fancy setup wizard.</p></div>
      </div>
    </div>
      <div class="columns small-12 shrink nopad">
        <div class="loginright">
          <h1>Login</h1>
          <div class="loginbox">
          <form method="POST">
          <input type="text" placeholder="username" readonly="readonly" />
          <input type="text" placeholder="password" readonly="readonly" />
          <input type="submit" class="button secondary" value="Log in" disabled="disabled" /></form>
        </div>
        </div>
      </div>
    </div>
    

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
